<h1>Listing Videos of <%= current_user.email %></h1>


<div class="videos_list">
<% if @videos.present?%>
  <% @videos.each do |video| %>
    <%= render 'shared/video_block_owner', locals: { video: video } %>
  <% end %>
<% end %>
</div>

<%= link_to 'New Video', '', class: 'new_video_link' %>

<%= form_for @new_video do |f| %>

  <div class="field">
    <%= f.file_field :file, class: 'hide' %>
  </div>

<% end %>
